/*
Author: Gabriel Lordi-Vado
Date: 9/27/2024
File Name: styles.css
*/

/* CSS Reset */
body, header, nav, main, footer, img, h1, h2, article, section, figure, figcaption {
	margin: 0;
	padding: 0;
	border: 0;
}

/* Body and Misc Style Rules */
body {
	background-color: #a9dea9;
}

img {
	max-width: 100%;
	display: block;
}

* {
	box-sizing: border-box;
}

/* Header Style Rules */
.page-header {
	float: right;
	margin: 1.5em auto 0.5em auto;
	width: 40%;
	color: #325b32;
	text-align: center;
	font-family: "Bebas Neue", system-ui;
	font-size: 2.5em;
	text-shadow: 3px 3px 8px #48af89;
}
/* remember for margin, top, left, bottom, right */

.page-logo {
	float: left;
	display: block;
	margin: 1.1em 1em;
	color: #325b32;
	font-size: 3em;
	font-family: "Bebas Neue", system-ui;
	text-shadow: 3px 3px 8px #48af89;
}

.page-logo:hover {
	background-color: #2f6f5e;
	color: #ebeceb;
	border: 2px solid #2f6f5e;
	margin: 1em 1em 1.01em 1em;
	padding: 0.1em 0 0;
	border-radius: 10px;
	text-shadow: none;
}

/* Nav Style Rules */
nav {
	background-color: #2f6f5e;
	clear: both;
	border: 10px solid #ebeceb;
	border-bottom-style: none;
}

nav ul {
	list-style: none;
	margin: 0;
	text-align: center;
	padding: 0;
}

nav li {
	display: inline-block;
	font-size: 1.5em;
	font-weight: bold;
	border-right: 10px solid #ebeceb;
	font-family: "Bebas Neue", system-ui;
}

nav li:last-child {
	border-right: none;
}

nav li a {
	display: block;
	color: #ebeceb;
	padding: 0.5em 0.5em;
	text-decoration: none;
}

nav li a:hover {
	background-color: #a9dea9;
	color: #325b32;
}

/* Banner Style Rules */
.hero {
	margin: 0em;
	border: 10px solid #ebeceb;
}

/* Main Content Style Rules */
main {
	padding: 1.5%;
	overflow: auto;
	background-color: #ebeceb;
}

main p {
	font-size: 1.25em;
	text-align: center; 
	font-family: "Playwrite DE Grund", cursive;
}

main img {
	margin: auto;
}

main article {
	display: block;
}

article figure {
	width: 40%;
	margin: 1em;
	border: 10px ridge #2f6f5e;
	display: inline-block;
}

article section {
	width: 50%;
	height: 31.5em;
	margin: 1em;
	border: 10px dotted #2f6f5e;
	padding: 2.5em;
	display: inline-block;
	float: right;
	background-color: #a9dea9;
	border-radius: 10px;
}

article section h2, p {
	text-align: center;
}

article section h2 {
	font-family: "Bebas Neue", system-ui;
	font-size: 2em;
}

article section p {
	font-size: 1.2em;
}

form {
	width: 50%;
	margin: 0 auto;
	margin-top: 5em;
	background-color: #a9dea9;
	border: 5px solid #2f6f5e;
	overflow: scroll;
}

fieldset {
	border: 0;
}

legend {
	font-family: "Bebas Neue", system-ui;
	color: #2f6f5e;
	font-size: 3em;
	margin:auto;
	margin-top: 0.5em;
	border-bottom: 5px dashed #2f6f5e;
}

label, input {
	display: block;
	margin: 0.5em 0;
}

label {
	font-family: "Playwrite DE Grund", cursive;
	font-size: 0.9em;
	text-align: center;
	font-weight: bold;
}

input {
	margin: auto;
}

#submit {
	background-color: #2f6f5e;
	padding: 0.5em;
	margin: 0.5em auto;
	border: none;
	font-family: "Bebas Neue", system-ui;
	color: #ebeceb;
	font-size: 1.5em;
	border-radius: 15px;
}

#submit:hover {
	box-shadow: 0px 3px 2px #48af89;
}

#course-name {
	font-weight: bold;
	font-family: sans-serif, serif;
	font-size: 1.5em;
	color: #2f6f5e;
}

aside {
	grid-column: 1 / span 3;
}

.grid {
	display: grid;
	grid-template-columns: auto auto auto;
}

.grid div {
	margin: 2% auto;
}

.grid div a {
	text-decoration: none;
	font-size: 2em;
	color: #ebeceb;
	font-weight: bold;
	font-family: "Bebas Neue", system-ui;
	text-align: center;
}

.grid div h2 {
	background-color: #2f6f5e;
	padding: 0.5em;
	border-radius: 10px;
	width: 4.5em;
	overflow: hidden;
}

.grid div:hover {
	box-shadow: 0px 0px 15px #000;
}

/* Get buttons to stop moving footer 

.grid div a:hover {
	font-size: 2.6em;
}

*/

/* Footer Style Rules */

footer {
	clear: right;
	text-align: center;
	font-size: 1em;
	padding: 0.5% 0%;
}

footer a {
	text-decoration: none;
	color: #134272;
}

/* Large Desktop Media Query */
@media screen and (min-width: 1921px) {
	
	body {
		width: 1920px;
		margin: 0 auto;
	}
	
}

/* Tablet Media Query */
@media screen and (max-width: 768px), print {
	
	/* Header Style Rules for Tablets */
	.page-header {
		margin: 1.5em 0.5em 0.5em auto;
	}
	
	.page-logo:hover {
		border: none;
		margin: 1em 1em 1.1em 1em;
		color: #325b32;
		background-color: #a9dea9;
		text-shadow: 3px 3px 8px #48af89;
	}
		
	/* Nav Style Rules for Tablets */
	nav {
		font-size: 0.85em;
	}
	
	nav li {
		border: none;	
	}
		
	nav li a:hover {
		background-color: #2f6f5e;
		color: #ebeceb;
	}
	
	/* Main Style Rules for Tablets */
	article section {
		width: 40%;
		height: 18.5em;
		overflow: scroll;
	}
	
	article section h2 {
		font-size: 1.5em;
	}
	
	article section p {
		font-size: 0.8em;
	}
	
	form {
		width: 80%;
		height: 25em;
		margin-bottom: 1em;
	}
	
	legend {
		float: left;
		margin-bottom: 0.5em;
		font-size: 2em;
	}
	
	label, input {
		clear: left;
	}
	
	label {
		text-align: left;
		font-size: 0.7em;
	}
	
	input {
		float: left;
		height: 2em;
	}
	
	#submit:hover {
		box-shadow: none;
	}
	
	.grid div a {
	font-size: 1.6em;
	}
	
	.grid div h2 {
		width: 4em;
		padding: 0.8em;
	}
	
	.grid div:hover {
	box-shadow: none;
	}
	
	/* Footer Style Rules for Tablets */
	
	footer {
		font-size: 0.85em;
	}
	
	/*
	Tablet Query Check
	body {
		background-color: #000;
	}
	*/
}

/* Mobile Media Query */
@media screen and (max-width: 480px), print {
	
	/* Hiding desktop/tablet content, showing mobile content */
	.mobile {
		display: block;
	}
	
	.desktop {
		display: none;
	}
	
	/* Header Style Rules for Mobile */
	.page-header {
		margin: auto auto 1em auto;
		display: block;
		float: none;
	}
	
	.page-logo {
		float: none;
		text-align: center;
	}
	
	/* Nav Style Rules for Mobile */
	nav li {
		display: block;
		border-top: 10px solid #ebeceb;
	}
	
	nav {
		font-size: 0.95em;
	}
	
	/* Main Style Rules for Mobile */
	article figure {
		display: block;
		width: 90%;
		margin: auto;
	}
	
	article section {
		float: none;
		width: 90%;
		margin: 1em auto;
		display: block;
	}
	
	article section h2 {
		font-size: 2em;
	}
	
	article section p {
		font-size: 1em;
	}
	
	aside {
		grid-column: 1 / span 1;
	}
	
	.grid {
		grid-template-columns: auto;
	}
	
	.grid div {
		margin: 2.5% auto;
	}
	
	.grid div a {
		font-size: 1.5em;
	}
	
	.grid div h2 {
		width: 8em;
	}
	
	/*
	Mobile Query Check
	body {
		background-color: #fff;
	}
	*/
}

/* Print Media Query */
@media print {
	
	body {
		background-color: #fff;
		color: #000;
	}
	
	.page-header {
		color: #000;
	}
	
	.page-logo {
		color: #000;
	}
	
}
